* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0c111b;
    position: relative;
}

.navber {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    z-index: 9;
    background-color: #0c111b;
    display: flex;
    align-items: center;
}

.brand-logo {
    height: 70px;
}

.nav-link {
    margin-top: 10px;
    display: flex;
    list-style: none;
}

.nav-items {
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;

}

.right-nav {
    display: block;
    margin-left: auto;
}

.search-box {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #aaa;
    outline: none;
    height: 35px;
    width: 230px;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 3s;
}

.search-box:focus {
    width: 400px;
    border-color: #1f80e0;
}

.sub-btn {
    background-color: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 7px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 12px;
    margin: 10px;
}

.login {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.9;
}

.container {
    position: relative;
    width: 100%;
    height: 470px;
    padding: 20px 0px;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 20px;

}

.carousel {
    display: flex;
    width: 97.5%;
    height: 100%;
    position: relative;
}

.slider {
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background-color: rgbs(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17 88%, #0c111b00);
    color: #fff;
}

.movie-title {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;

    opacity: 0.8;
}

.movie-des {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    font-size: 18px;
    opacity: 0.8;
}

.vedio-card-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    margin-bottom: 20px;
}

.vedio-card {
    position: relative;
    min-width: calc(100%/5 - 10px);
    width: calc(100%/5 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #030b17;
}

.vedio-card-img,
.card-vedio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-vedio {
    position: relative;
}

.vedio-card:hover .vedio-card-img {
    display: none;
}

.title {
    color: #fff;
    opacity: 0.8;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
}

.movies_list {
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;

}

.catd_container {
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.catd_container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    min-width: 150px;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: 5s;
    background-color: #000;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover .card_body {
    opacity: 1;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.card_body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}

.des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watchlist_btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.watchlist_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(images/add.png);
    background-size: cover;
    transform: scale(0.4);
}

.watchlist_btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

.pre_btn,
.nxt_btn {
   position: absolute;
   top: 0;
   width: 5%;
   height: 100%;
   z-index: 2;
   border: none;
   cursor: pointer;
   outline: none;
}

.pre_btn {
   left: 0;
   background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt_btn {
   right: 0;
   background: linear-gradient(to left, #0c111b 0%, #0c111b00);
}

.pre_btn img,
.nxt_btn img {
   width: 15px;
   height: 20px;
   opacity: 0;
}

.pre_btn:hover img,
.nxt_btn:hover img {
   opacity: 1;
}